* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #d7dedc;
}

.container {
  margin: 5rem auto;
  width: 90vw;
}

.container h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #563440;
  background: #d7dedc;
  text-shadow: 4px 3px 0px #cfcfcd;
  letter-spacing: 0.5rem;
}

.container h1 .icons {
  visibility: hidden;
  display: none;
}

.menu-items-grid {
  margin-top: 2rem;
  display: grid;
  gap: 0.5rem;
}

@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 2fr 3fr;
  }
  .menu-item-details {
    margin-left: 1rem;
  }

  .container h1 .icons {
    visibility: visible;
    display: inline;
  }
}

@media screen and (min-width: 1200px) {
  .menu-items-grid {
    grid-template-columns: repeat(2, 1fr);
    /* align-items: start; */
  }

  .menu-item {
    grid-template-columns: 2fr 3fr;
  }
  .menu-item-details {
    margin-left: 1rem;
  }
}

.menu-item {
  /* background: #e4e4e4; */
  padding: 2rem;
  border-radius: 0.5rem;
  display: grid;
  gap: 0.5rem;
}

.menu-item img {
  width: 100%;
  max-height: 10rem;
  object-fit: cover;
  border: 3px solid #7a3b69;
  border-radius: 2px;
}

.menu-item-details h4 {
  color: #563440;
  letter-spacing: 0.08rem;
  font-size: 1.1rem;
  text-transform: capitalize;
  font-weight: bold;
  float: left;
}

.menu-item-details .price {
  float: right;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #9a879d;
}

.item-header {
  min-height: 1.5rem;
}

.item-desc {
  border-top: 1px #563440 dotted;
  padding-top: 1rem;
  color: #888;
  line-height: 1.5rem;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.filter-buttons button {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  background-color: transparent;
  border-radius: 0.3rem;
  border: none;
  color: #9a879d;
  transition: 0.2s;
  cursor: pointer;
  text-transform: capitalize;
}

.filter-buttons button:hover {
  background: #9a879d;
  color: #d7dedc;
}
