* {
  margin: 0;
  padding: 0;
}

body {
  background: #fbfbf8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  color: #333f68;
  font-size: 1.2rem;
}

.card {
  background: #fff;
  width: 25rem;
  margin: 5rem auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 2rem;
}

.question-list {
  margin: 2rem auto;
}

@media screen and (min-width: 768px) {
  .card {
    width: 40rem;
  }
}

.question-card {
  background: #fff6ee;
  border-left: #ffc893 3px solid;
  padding: 1rem;
  font-size: 1rem;
  color: #333f68;
  border-radius: 3px;
  margin: 1rem auto;
  cursor: pointer;
}

.question-card:nth-child(2n) {
  background: #fafaff;
  border-left: #b4b3ff 3px solid;
}

.question-card:nth-child(3n) {
  background: #fff0f3;
  border-left: #ffb8c4 3px solid;
}

.question {
  font-weight: bold;
}

.answer {
  margin-top: 1rem;
}

.expand-button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  margin-right: 0.2rem;
  color: #333f68;
  transition: 0.25s;

  padding: 0;
}
